<!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">
      <meta name="description" content="Personal Page for Software Developer Demetrius Shargani">
      <meta name="keywords" content="Demetrius, Demetri, Shargani, Jones-Shargani, DeveloperDemetri, Software, Developer">
      <meta name="author" content="DeveloperDemetri">
      <title>Developer Demetri</title>
      <link type="text/css" rel="stylesheet" href="css/icon.css"/>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/font-awesome-4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/font-mfizz-2.2/font-mfizz.css">
      <link type="text/css" rel="stylesheet" href="css/app.css"/>
      <link rel="shortcut icon" href="img/profPicFavicon.ico">
      <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type ="text/javascript" src="js/easter_eggs.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75806542-1', 'auto');
        ga('send', 'pageview');

      </script>
    </head>
    <body class="grey lighten-4 blue-grey-text text-darken-4">
      <nav>
        <div class="nav-wrapper deep-purple lighten-1 grey-text text-lighten-4">
          <a href="https://github.com/developerDemetri" class="brand-logo right" target="_blank">DeveloperDemetri</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#apps">Apps</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="center-align">
        <img src="img/profPic.jpg" class="circle responsive-img profPic"/>
        <h1 class="nameHead">Demetrius Shargani</h1>
      </div>
      <div class="divider deep-purple"></div>
      <div class="container">
        <div id="skills">
          <div class="row deep-purple-text center-align">
            <h2>Skills <i class="fa fa-code"></i></h2>
          </div>
          <div class = "row">
              <div class="col s6 m3 center-align">
                <h4>Java <i class="icon-java-bold"></i></h4>
                <p class="left-align">Wide variety of experience, ranging from school projects to professional SOAP/RESTful service development.</p>
              </div>
              <div class="col s6 m3 center-align">
                <h4>SQL <i class="icon-database"></i></h4>
                <p class="left-align">Professional experience designing PostgreSQL/MySQL databases and creating web services to interact with them.</p>
              </div>
              <div class="col s6 m3 center-align">
                <h4>Python <i class="icon-python"></i></h4>
                <p class="left-align">Using Flask and Django to spin up RESTful services and web apps in my free time, as well as for my undergraduate Capstone project.</p>
              </div>
              <div class="col s6 m3 center-align">
                <h4>Front End <i class="icon-css hide-on-small-only"></i></h4>
                <p class="left-align">Professional Front-End web app development with HTML, Bootstrap CSS, and AngularJS. This site was my first attempt with Materialize CSS.</p>
              </div>
            </div>
            <div class = "row">
                <div class="col s6 m3 center-align">
                  <h4>.NET <i class="fa fa-windows"></i></h4>
                  <p class="left-align">School projects using C, C++, and C#. These include multithreading, WCF SOAP/RESTful services, and ASP.NET web apps.</p>
                </div>
                <div class="col s6 m3 center-align">
                  <h4>Testing <i class="fa fa-bug"></i></h4>
                  <p class="left-align">Professional experience with JUnit, Mocha, and PIT Mutation testing. Class projects with Selenium, Postman, and Petri Nets.</p>
                </div>
                <div class="col s6 m3 center-align">
                  <h4>Node <i class="icon-nodejs"></i></h4>
                  <p class="left-align">Professional and recreational experience developing web applications with Express.</p>
                </div>
                <div class="col s6 m3 center-align">
                  <h4>Agile <i class="fa fa-users"></i></h4>
                  <p class="left-align">Professional experience working on small Agile teams, both in Scrum and XP settings.</p>
                </div>
              </div>
        </div>
      </div>
      <div class="divider deep-purple"></div>
      <div class="container">
        <div id="experience">
          <div class="row deep-purple-text center-align">
            <h2>Experience <i class="fa fa-road"></i></h2>
          </div>
          <div class="row">
            <h4 class="center-align">Professional <i class="fa fa-briefcase"></i></h4>
            <div class="col s12 m4 center-align">
              <h5>State Farm</h5>
              <h6>Phoenix, AZ</h6>
              <h6>Systems Intern</h6>
              <h6>June 2015 - August 2015</h6>
              <p class="left-align">Developing web applications as an intern on a small Agile team. I did some front end work with Bootstrap and AngularJS, but mostly dealt with the Java Spring backend services and SQL database.</p>
            </div>
            <div class="col s12 m4 center-align">
              <h5>ZooPhy Lab</h5>
              <h6>Tempe, AZ</h6>
              <h6>Programmer</h6>
              <h6>January 2016 - Present</h6>
              <p class="left-align">Using Java/SQL to collect and process GenBank virus records, then normalizing and completing the given data using NLP techniques on associated records and publications. Finally, enabling easy usage of the enhanced virus data for researchers. The early/incomplete alpha version is live <a href="http://zodo.asu.edu:8080/zoophy/" target="_blank">here</a>.</p>
            </div>
            <div class="col s12 m4 center-align">
              <h5>Allstate Northern Ireland</h5>
              <h6>Belfast, UK</h6>
              <h6>Application Developer Intern</h6>
              <h6>May 2016 - August 2016</h6>
              <p class="left-align">Rapidly developing responsive web applications using NodeJS and XP methodologies. Also, having some fun with the Cloud Foundry deployment platform.</p>
            </div>
          </div>
          <div class="row">
            <h4 class="center-align">Hackathons <i class="icon-shell"></i></h4>
            <div class="col s12 m4">
              <h5 class="center-align">State Farm Hack Day</h5>
              <h6 class="center-align">July 2015  (24 hours)</h6>
              <p>Stayed up the entire night working with a team of experienced developers to create an easy to use and effective Web Service Registry web app. I was in charge of building/testing Java RESTful services. We did not win any prizes, but we finished a working product in one day.</p>
            </div>
            <div class="col s12 m4">
              <h5 class="center-align"><a href="http://opportunity-hack-2015-arizona.devpost.com/" target="_blank" class="blue-grey-text text-darken-4">PayPal Opportunity Hack</a></h5>
              <h6 class="center-align">October 2015 (27 hours)</h6>
              <p>Stayed up the entire time working with a few friends to build <a href="https://github.com/Opportunity-Hack-2015-Arizona/Team13" target="_blank">GoRaffleMe</a>, a web app that combines crowdfunding with classic raffle tickets. It was intended to help local non profits raise funds more efficiently. I mainly handled the PHP/MySQL back end RESTful services. We were selected as finalists and won the Seed Spot Impact Award.</p>
            </div>
            <div class="col s12 m4">
              <h5 class="center-align"><a href="http://hackarizona.org/" target="_blank" class="blue-grey-text text-darken-4">Hack AZ</a></h5>
              <h6 class="center-align">January 2016 (36 hours)</h6>
              <p>Ditched my usual Web App approach and teamed up with a few friends to work on random hardware projects. We played with <a href="http://ardrone2.parrot.com/" target="_blank">AR 2.0 drones</a> and <a href="http://www.choosemuse.com/" target="_blank">Muse headsets</a>. Had tons of fun, but didn't get anything presentable working. Got a questionably working Android app created that allows you to manually control the drone, or have the drone follow you around via GPS.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider deep-purple"></div>
      <div class="container">
        <div id="education">
          <div class="row deep-purple-text center-align">
            <h2>Education <i class="fa fa-graduation-cap"></i></h2>
          </div>
          <div class="row">
            <h4 class="center-align">Arizona State University</h4>
            <h5 class="center-align">B.S. in Computer Science</h5>
            <h5 class="center-align"><b>4.0 GPA</b> - Graduating Spring of 2017</h5>
            <h6 class="col m10 offset-m1">I am currently wrapping up my undergrad Computer Science degree with a concentration in Software Engineering. After this semester I will only need 2 more undergrad classes, then I will spend the rest of my Senior year taking graduate courses as part of ASU's 4+1 program.</h6>
          </div>
          <div class="row">
            <h4 class="center-align">Arizona State University</h4>
            <h5 class="center-align">M.C.S. in Computer Science</h5>
            <h5 class="center-align"><!--<b>4.0 GPA</b> TODO: wait for grad gpa-->Admitted and Enrolled - Graduating Spring of 2018</h5>
            <h6 class="col m10 offset-m1">I am registered to begin graduate classes this upcoming Fall as part of ASU's 4+1 program. I plan to complete my Master's in Computer Science, with a concentration in Big Data Systems, in Spring of 2018.</h6>
          </div>
        </div>
      </div>
      <div class="divider deep-purple"></div>
      <div class="container">
        <div class="center-align" id="apps">
          <div class="row deep-purple-text center-align">
            <h2>Apps <i class="fa fa-laptop"></i></h2>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <a href="https://boredwithfriends.herokuapp.com/" target="_blank"><h4 class="blue-grey-text text-darken-4">Bored With Friends</h4></a>
              <h6>Simple responsive app for indecisive friend groups. Written in NodeJS, styled with Materialize and powered by Heroku.</h6>
              <h6>View on <a href="https://github.com/developerDemetri/BoredWithFriends" target="_blank">Github <i class="fa fa-github"></i></a> or test on <a href="https://boredwithfriends.herokuapp.com/" target="_blank">Heroku <i class="icon-heroku"></i></a></h6>
            </div>
            <div class="col s12 m6">
              <a href="https://devdemetriblog.herokuapp.com/" target="_blank"><h4 class="blue-grey-text text-darken-4">DevDemetri Blog</h4></a>
              <h6>Simple responsive blogging app to help me learn Ruby on Rails.</h6>
              <h6>View on <a href="https://github.com/developerDemetri/rails-blog" target="_blank">Github <i class="fa fa-github"></i></a> or test on <a href="https://devdemetriblog.herokuapp.com/" target="_blank">Heroku <i class="icon-heroku"></i></a></h6>
            </div>
          </div>
          <!-- TODO: Add More Apps -->
          <!-- TODO: find magical free time to make more apps-->
        </div>
      </div>
      <footer class="page-footer deep-purple lighten-1 grey-text text-lighten-4">
          <div class="container">
            <div class="row">
              <div id="contact" class="center-align">
                <h3 class="white-text">Contact</h3>
                <div class="grey-text text-lighten-4">
                <p>If you are a recruiter, please contact me via <a class="teal-text text-accent-1" href="https://www.linkedin.com/in/demetrius-jones-shargani-920a1981" target="_blank">LinkedIn <i class="fa fa-linkedin-square"></i></a></p>
                <p>Fellow developers, feel free to check out my <a class="teal-text text-accent-1" href="https://github.com/developerDemetri" target="_blank">GitHub <i class="fa fa-github"></i></a> or <a class="teal-text text-accent-1" href="http://stackoverflow.com/users/5702582/developerdemetri?tab=profile" target="_blank">Stack Overflow <i class="fa fa-stack-overflow"></i></a></p>
                <p>Thank You to <a class="teal-text text-accent-1" href="http://materializecss.com/" target="_blank">Materialize</a>, <a class="teal-text text-accent-1" href="https://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>, and <a class="teal-text text-accent-1" href="http://fizzed.com/oss/font-mfizz" target="_blank">Font Mfizz</a> for helping me style this site <i class="fa fa-smile-o"></i></p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright deep-purple lighten-1">
            <div class="container center-align">
              <p><a class="grey-text text-lighten-4" href="https://github.com/developerDemetri" target="_blank"><i class="fa fa-copyright"></i> 2016 DeveloperDemetri</a> <img src="img/comodo_secure_76x26_transp.png"/></p>
            </div>
          </div>
        </footer>
    </body>
  </html>
